* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.781);
}

.container {
  height: 100px;
  width: 400px;
  margin: 100px auto;
  position: relative;
  perspective: 40px;
}

.ball {
  position: absolute;
  height: 50px;
  width: 50px;
  background: greenyellow;
  border-radius: 300px;
  margin: 50px 200px;
  transform: translate(-50%, -50%) translateZ(100px);
  text-align: center;
  /* animation: anim 6s 0.4s ease-in-out infinite; */
}

.ball1 {
  animation: anim 7s 0.4s ease-in-out infinite;
  perspective: 100px;
}

.ball2 {
  left: 80px;
  animation: anim 6s 0.4s ease-in-out infinite;
  perspective: 100px;
}

.ball3 {
  left: -80px;
  animation: anim 8s 0.4s ease-in-out infinite;
  perspective: 100px;
}

@keyframes anim {
  33% {
    transform: translateZ(10px) translate(-50%, -50%);
  }
  66% {
    transform: translateZ(-20px) translate(-50%, -50%);
  }
  100% {
    transform: translateZ(0) translate(-50%, -50%);
  }
}
