* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.781);
}

.container {
  height: 500px;
  max-width: 500px;
  min-width: 300px;
  margin: 100px auto;
  background: whitesmoke;
  border-radius: 300px;
  position: relative;
  border-bottom: 4px solid blue;
  border-top: 4px solid rgb(21, 255, 0);
  border-left: 4px solid rgb(255, 123, 0);
  border-right: 4px solid rgb(255, 0, 89);
  animation: anim2 1s 0.5s linear infinite;
}

.ball1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0);
  border-radius: 200px;
  /* animation: anim 6s 0.5s linear infinite; */
  border-bottom: 4px solid blue;
  border-top: 4px solid rgb(21, 255, 0);
  border-left: 4px solid rgb(255, 123, 0);
  border-right: 4px solid rgb(255, 0, 89);
}

@keyframes anim {
  0% {
    transform: translate(-50%, -50%) translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) translate(-100%, -100%) rotate(1000deg);
  }
}

@keyframes anim2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
